<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 p-6">

<h1 class="text-3xl font-bold text-center text-gray-800 mb-6">Student List</h1>

<div class="max-w-6xl  mx-auto bg-white p-6 rounded-lg shadow-lg">
    <% if (students.length > 0) { %>
        <table class="w-full border-collapse border border-gray-300">
            <thead>
            <tr class="bg-gray-800 text-white">
                <th class="border border-gray-300 px-4 py-2 text-left">Student ID</th>
                <th class="border border-gray-300 px-4 py-2 text-left">Name</th>
                <th class="border border-gray-300 px-4 py-2 text-left">Email</th>
                <th class="border border-gray-300 px-4 py-2 text-left">Age</th>
                <th class="border border-gray-300 px-4 py-2 text-left">Class</th>
                <th class="border border-gray-300 px-4 py-2 text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <% students.forEach(student => { %>
                <tr class=" bg-gray-200">
                    <td class="border border-gray-300 px-4 py-2"><%- student.student_id %></td>
                    <td class="border border-gray-300 px-4 py-2"><%- student.name %></td>
                    <td class="border border-gray-300 px-4 py-2"><%- student.email %></td>
                    <td class="border border-gray-300 px-4 py-2"><%- student.age %></td>
                    <td class="border border-gray-300 px-4 py-2"><%- student.class %></td>
                    <td class="border border-gray-300 px-4 py-2">
                        <div class="flex flex-warp gap-2">


                        <a class="px-2 py-1 bg-red-600 border border-red-600 rounded-lg text-white transition duration-300 ease-in-out hover:bg-red-400 hover:border-red-400" href = "/delete_student?id=<%- student.student_id %>">Delete </a>

                        <a class="px-2 py-1 ml-5 mr-0 bg-green-600 border border-green-600 rounded-lg text-white transition duration-300 ease-in-out hover:bg-green-400 hover:border-green-400" href = "/update_student?id=<%- student.student_id %>">Update </a>
                        </div>
                    </td>

                </tr>
            <% }); %>
            </tbody>
        </table>
    <% } else { %>
        <p class="text-center text-lg text-gray-600">Students Data Not Found</p>
    <% } %>
</div>

</body>
</html>
